* {box-sizing: border-box}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn, .confirmbtn {
  float: left;
  width: 50%;
}

#signup-container, #login-container {
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.alert {
  padding: 20px;
  margin: 10px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 10px;
  color: white;
  float: right;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.row, .tab-row {
  display: -webkit-flex;
  display: flex;
}

.column {
  padding: 10px;
}

.column.small {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

.column.medium {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.column.tab {
  background-color: #bbb;
  color: black;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-top-right-radius: 25px;
}

.column.tab.selected {
  background-color: #aaa;
  color: black;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.column.tab:hover {
  background-color: #04AA6D;
  color: white;
}

form {
  background-color: #aaa;
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .column.small {
   display: none;
  }
}